pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

a,
a:hover {
  color: #333;
  text-decoration: none;
}

label {
  margin: 0;
  font-weight: 600;
  font-size: 1.15rem;
}
label:not(:first-child) {
  margin: 0.75rem 0 0 0;
}

input {
  min-width: min(20rem, 100%);
}

textarea {
  width: 100%;
  min-height: 25rem;
}

input,
textarea {
  border-radius: 0.5rem;
  border: 2px solid grey;
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 2px solid #ed1848;
  box-shadow: 0 0 5px #ed1848;
}

.ButtonLink {
  padding: 1rem;
}

.ButtonLinkSmall {
  padding: 0.25rem;
  width: max-content;
  text-align: center;
}

.ButtonLink,
.ButtonLinkSmall {
  align-self: center;
  background-color: #ed1848;
  border-radius: 0.5rem;
  color: white;
}

.ButtonLink:hover,
.ButtonLinkSmall:hover {
  background-color: #c90833;
}

.Ingredient input {
  min-width: 40px;
}

.RecipeOverview {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 0.5rem;
  border: solid grey;
  height: 100%;
}

.RecipeOverview:hover {
  border: solid #ed1848;
}

.RecipesOverviewSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media only screen and (max-width: 767px) {
  .RecipesOverviewSection {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 499px) {
  .RecipesOverviewSection {
    grid-template-columns: 1fr;
  }
}
